<h1>SIGN UP</h1>

<% if flash[:error] %>
<ol>
  <%flash[:error].each do |error|%>
  <li><%error%></li>

</ol>
<% end %>

<form class="" action="/signup" method="POST">
  <input type="text" name="user[name]" placeholder="NAME" value=""><br>
  <input type="text" name="user[email]" placeholder="EMAIL" value=""><br>
  <input type="password" name="user[password]" placeholder="CREATE A PASSWORD" value=""><br>
  <input type="submit"  value="Signup">
</form>
